* {
    margin: 0px auto;
    padding: 0px;
    text-align:center;
  }
   
  .cont_principal {
    width: 100%;
    height: 100%;
    position: absolute;
  background-color: #DEDEDE;
  }
   
  .cont_bgc_modal {
    width: 100%;
    height: 100%;
    position: fixed;
  background-color: #F24541; 
  z-index: 0;
  top:0px;
  opacity: 0;
  background-color: #F24541; 
  transition: all 0.2s;
  display: none;
  }
  
  .cont_bgc_modal_activo{
  opacity: 1;  
  }
  
  .cont_modal {
  position: fixed;
    z-index: 10;
  top:50%;
  width: 600px;
   height: 600px;
    left:50%;
    margin-top: -300px;
    margin-left: -300px;
  display: none;
  }
  
  .cont_modal_activo {
  display: block;  
  }
  
  .cont_modal > .cont_circulo_prohibido {
    width: 500px;
    height: 500px;
    background-color: #DEDEDE;
    border-radius:50%;
    border:50px solid #F24541;
  transform: scale(0);
   
  }
  
  .cont_modal_activo > .cont_circulo_prohibido {
    transform: scale(1);
      transition: all 0.5s;
  transition-delay: 0.5s;
  }
  
  .cont_raya_divisor {
    position: relative;
    width: 100px;
    height: 100%;
    background-color: #F24541;
    transform: rotate(45deg);
    z-index: 10;
  }
  
  
  .cont_modal >.cont_circulo_prohibido > .cont_form_modal {
    width: 350px;
    height: 400px;
  background-color: #212121;
  position: absolute;
  z-index: 1003;
  top: 50%;
    left:50%;
    margin-top: -200px;
    margin-left: -175px;
  box-shadow: 1px 15px  30px -10px rgba(0,0,0,0.5);
  border-radius:5px;
  
  transform: scale(0);
  }
  .cont_modal_activo > .cont_circulo_prohibido >.cont_form_modal {
    transform: scale(1);
  transition: all 0.5s;
    transition-delay: 1s;
  }
  .cont_logo_restrigido {
    position: relative;
    float: left;
  width: 100%;
  margin-top:30px;
  }
  
  .cont_circulo_logo {
    width: 50px;
    height: 50px;
  border-radius:50%;
  border:10px solid #F24541;
  }
  
  .con_raya_logo {
    width: 10px;
    height: 53px;
  background-color: #F24541;  
  transform: rotate(45deg);
  }
  
  .po_relative {
    position: relative;
  float: left;
    width: 100%;
  margin-top:30px;  
  text-align:center;
  color: #fff;
  font-family: Arial;
  }
  .po_relative > h1 {
    font-size: 22px;
  }
  
  .po_relative > p {
    font-size: 14px;
  }
  
  
  .cont_input_password {
  position: relative;
  float: left;
    width: 350px;
   height: 50px;
  background: rgba(254,96,93,1);
  background: -moz-linear-gradient(top, rgba(254,96,93,1) 0%, rgba(242,67,65,1) 74%, rgba(242,67,65,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,96,93,1)), color-stop(74%, rgba(242,67,65,1)), color-stop(100%, rgba(242,67,65,1)));
  background: -webkit-linear-gradient(top, rgba(254,96,93,1) 0%, rgba(242,67,65,1) 74%, rgba(242,67,65,1) 100%);
  background: -o-linear-gradient(top, rgba(254,96,93,1) 0%, rgba(242,67,65,1) 74%, rgba(242,67,65,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,96,93,1) 0%, rgba(242,67,65,1) 74%, rgba(242,67,65,1) 100%);
  background: linear-gradient(to bottom, rgba(254,96,93,1) 0%, rgba(242,67,65,1) 74%, rgba(242,67,65,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe605d', endColorstr='#f24341', GradientType=0 );
  margin-top: 20px;
  left: 0px;
  color: #fff;
  text-align: center;
  font-family: Arial;
  box-shadow: 1px 1px  20px  -5px rgba(0,0,0,0.5);
    border-radius:3px; 
  transition: all 0.5s;
  transition-delay: 1.3s;
  }
  
  .cont_modal_activo > .cont_circulo_prohibido > .cont_form_modal > .cont_input_password {
    width: 400px;
    left: -25px; 
  }
  
  .cont_input_password >p {
    margin-top: 15px;
  }
  
  .input_password_ {
    padding: 7px 0px;
  width: 100%;
    background-color: transparent;
  border:none;
    outline: none;
  color: #fff;
  text-align: center;
  font-family: Arial;
  font-size: 45px; 
  }
  
  .input_password_::-webkit-input-placeholder {
      color:    #fff;
  }
  .input_password_:-moz-placeholder {
      color:    #fff;
  }
  .input_password_::-moz-placeholder {
      color:    #fff;
  }
  .input_password_:-ms-input-placeholder {
      color:    #fff;
  }
  
  
  
  .cont_btn {
  position: relative;
  float: left;
    width: 100%;
    margin-top: 20px;
  }
  
  .btn_proceed {
    background-color: #F24541;
  border-radius:20px;
    padding: 10px;
  border:2px solid #ffffff;  
  margin: 0px auto;
    display: block;
    text-align: center;
    font-size: 16px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
    transition: all 0.5s;
  cursor: pointer;
  }
  
  .btn_proceed:hover {
  background-color: #fff;
    color: #F24541;
  }
  